header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #0a121f;
    height: 30px;
    background-color: black;
}

.heading{
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: black;
}

.logo{
    flex: 3;
} 

.search{
    display: flex;
    flex: 2;
    padding-bottom: 2px;
     
}

.logo img{
    height: 30px;
    width: 200px;
}

nav a{  
    margin-left: 20px;
    margin-bottom: 1px;
    display: inline-block;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: 24px; 
    text-decoration: none;
    padding-top: 20px;
}

.searchInput:focus{
    outline: none
}

.searchInput{
    border: none;
    width: 0px;
}

.searchInput.active{
    border: none;
    width: 200px;
    height: 32px;
    transition: width 1s ease-in;
}